.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.user-card h3 {
  margin-top: 0;
  font-size: 24px;
}

.user-card p {
  font-size: 16px;
  margin: 5px 0;
}

